h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;800&family=Roboto+Mono:wght@100;200;300;400;500;700&display=swap');

html{
  font-family: 'Noto Sans';
}
input{
  font-family: 'Noto Sans';
  border-color: #cccccc;
  border-style: solid;
  border-width: 0px;
  padding: 8px;
  font-size: 17px;
  box-shadow: 3px 3px 13px 0px rgba(42, 42, 42, .49);
  border-radius: 7px;
}

button {
	background-color:#6258e8;
	border-radius:16px;
	border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
button:hover {
	background-color:#3252b3;
}
button:active {
	position:relative;
    -webkit-box-shadow: 0px 2px 26px 24px rgba(5, 8, 11, 0.2) inset;
    -moz-box-shadow: 0px 2px 26px 24px rgba(5, 8, 11, 0.2) inset;
    box-shadow: 0px 2px 26px 24px rgba(5, 8, 11, 0.2) inset;
}